<div class="container">
  <% if current_user %>
    <p>All the users!</p></br>
    <% User.all.each do |user| %>
      <p><%= user.name %></br>
    <% end %>
  <% else %>
    <p>Welcome!</p>
  <% end %>
</div>

<div id="tweets">
  <p>Tweets!</p>
  <div></div>
</div>
